html
  body
   div
    h3(style={margin: 30}) Home Page
    form#new-tweet(action='/create' method='POST')
      fieldset
        legend New Tweet
        div(style={padding: 3})
          label(for='user') Username: &nbsp;
          input(style={margin: 3} id='inputUsername' name='user', type='text', placeholder=' your username', required='', autofocus='' )
        div(style={padding: 3})
          label(for='tweet') tweet: &nbsp;
          input(style={margin: 3} id='inputTweet' name='tweet', type='text', required='', autofocus='')
        div(style={padding: 3})
          button(id='create') Create
    ul(id='users')
      h4 Tweets
      each tweet in tweets
        li
          form.update-tweet(id=tweet-tweet.id action='/update/'+tweet.id method='POST')
            div.form-group
              label(for='user' style={color: tweet.colour}) Username: &nbsp #{tweet.user} &nbsp
              input(style={margin: 3} name='user', type='text', placeholder=' update username', autofocus='')
            div.form-group
              label(for='tweet' style={color: tweet.colour}) tweet: #{tweet.tweet} &nbsp;
              input(style={margin: 3} name='tweet', type='text', placeholder=' update tweet', autofocus='')
            button Update
          a(href=tweet.id style={color: tweet.colour})  id: #{tweet.id} br
          form.delete-tweet(action='/delete/'+tweet.id method='POST')
            button Delete
          br
      else
        li There are no tweets

    | <script type="text/javascript" src="/js/tweets.js"></script>
